{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'status_board/main.css' %}">
	{% block cssLink%}
	{% endblock %}

	<title> Status Board</title>
</head>
<body class="bodyClass">

	<nav class="navbar navbar-expand-sm " style="background-color:#263238; padding:0">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   			 <span class="navbar-toggler-icon"></span>
  		</button>

		  <div class="collapse navbar-collapse flex-container" id="collapsibleNavbar" >
			  <!--text navbar items -->
			  <div style="flex-grow: 8">

				<ul class="navbar-nav "  style="display: flex">
			  <li class="nav-item" style="flex-grow: 1; text-align:center;color:white">
				  OPERATIONS 613-248-2200
			  </li>
			<li class="nav-item " style="flex-grow: 1; text-align:center;color:white">
				  <strong> Live Airport Information System </strong>
			  </li>
			  <li class="nav-item " style="flex-grow: 1; text-align:center;color:white">
				  EMERGENCY 613-248-2111
			  </li>

			</ul>
			  </div>
			  <!--link navbar items -->
			  <div  id="links" style="flex-grow: 1">

					<ul class="navbar-nav">
						{% if user.is_authenticated %}
							<li class="nav-item">
							  <a class="nav-link " href="#" style="color:white">Legend</a>
						  </li>
							<li class="nav-item">
							 <a class="nav-link " href="{% url 'login' %}" style="color:white">Logout</a>
						  </li>
					{% else %}
					  <li class="nav-item">
						  <a class="nav-link " href="#" style="color:white">Legend</a>
					  </li>
					  <li class="nav-item">
						 <a class="nav-link " href="{% url 'login' %}" style="color:white">Login</a>
					  </li>
						{% endif %}
					</ul>

				</div>
		  </div>
	</nav>


		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message.tags}}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}

		{% block content %}
		{% endblock %}

		{% block mainContent %}
		{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<div class="fixed-bottom fixedMessage">
 F I X E D  M E S S AGE
</div>
</body>
</html>