{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html style="height:100%">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static 'status_board/main.css' %}">
		
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>	
	{% block cssLink%}
	{% endblock %}

	<title> Status Board</title>
</head>
<body class="bodyClass" style="height:100%; font-family: 'Roboto', sans-serif; " id="body">
		<!--Nav Bar-->
	
	<nav class="navbar navbar-expand-sm " style="background-color:#272C30; padding:0" id="navBar"> 
		<!-- s#263238 -->
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   			 <span class="navbar-toggler-icon"></span>
  		</button>

		  <div class="collapse navbar-collapse flex-container" id="collapsibleNavbar" >
			  <!--text navbar items -->
			  <div style="flex-grow: 8">

				<ul class="navbar-nav "  style="display: flex">
			  <li class="nav-item" style="flex-grow: 1; text-align:center;color:white">
				  OPERATIONS 613-248-2200
			  </li>
			<li class="nav-item " style="flex-grow: 1; text-align:center;color:white;">
				  <a href="{% url 'status-board-home' %}"  style="color:white;font-weight: 500;"> Live Airport Information System </a>
			  </li>
			  <li class="nav-item " style="flex-grow: 1; text-align:center;color:white">
				  EMERGENCY 613-248-2111
			  </li>

			</ul>
			  </div>
			  <!--link navbar items -->
			  <div  id="links" style="flex-grow: 1">

					<ul class="navbar-nav">
						{% if user.is_authenticated %}
							<li class="nav-item">
							  <a class="nav-link " href="{% url 'legend' %}" style="color:white">Legend</a>
						  </li>
							<li class="nav-item">
							 <a class="nav-link " href="{% url 'logout' %}" style="color:white">Logout</a>
						  </li>
					{% else %}
					  <li class="nav-item">
						  <a class="nav-link " href="{% url 'legend' %}" style="color:white">Legend</a>
					  </li>
					  <li class="nav-item">
						 <a class="nav-link " href="{% url 'login' %}" style="color:white">Login</a>
					  </li>
					  <li class="nav-item">
							{% get_current_language as LANGUAGE_CODE %}
						<form action="{% url 'set_language'%}" method="post">{%csrf_token%}
							<select name="language" id="" class="form-control form-control-sm"> 
								{% get_available_languages as LANGUAGES %}
								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<option value="{{ language.code }}"
									 {% if language.code == LANGUAGE_CODE %} 
									 	selected 
									 {% endif %} >
									{{language.name_locale}} {{ language.code}}
									</option>
								{%endfor%}
							</select>
							<button type="submit" class="btn btn-primary btn-sm">Submit</button>
							

						</form>
					 </li>
						{% endif %}
					</ul>

				</div>
		  </div>
	</nav>
		<div style="display: flex;height: 100%; flex-direction: column;justify-content: start">
	
				
		{% block mainContent %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% for mes in fixedMessages %}
	<a  data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('mes','{{mes.messageID}}')"  class="disabled">	
		<footer class="fixed-bottom fixedMessage slide-right"  id="fixedFooter">
	
		
				<div style="width=100%; position:relative" ><div id='adHocMsg'>{{mes.message}}</div></div>
		
		{% endfor %}
		</footer>
	</a> 
</div>

	




</body>
</html>