{% extends "status_board/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!--for testing purposes, mainContent should be changed to cssLink and h1 tags removed-->
{% block cssLink %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
           <!--<script src="{% static 'status_board/formsSocket.js' %}"></script>-->
{% endblock cssLink%}

{% block content %}

    <form id="formData"  method="POST" name="myform">
           {% csrf_token %}
    <h1 id="ting"></h1>
        {% if path == 'fromElevator'%}
            <h1>{{obj.elevatorID}}</h1>
        {% elif path == 'fromBridgeTable'%}
            <h1>{{obj.bridgeTableID}}</h1>
        {% elif path == 'fromEscalator'%}
             <h1>{{obj.escalatorID}}</h1>
        {% elif path == 'fromDomIntPBS'%}
             <h1>{{obj.domIntPBSID}}</h1>
        {% elif path == 'fromDomIntBaggage'%}
             <h1>{{obj.domIntBaggageID}}</h1>
        {% elif path == 'fromTbBaggage'%}
            <h1>{{obj.tbBaggageID}}</h1>
        {% elif path == 'fromDomIntOversize'%}
            <h1>{{obj.domIntOversizeID}}</h1>
        {% elif path == 'fromTbOversize'%}
            <h1>{{obj.tbOversizeID}}</h1>
        {% endif %}


            <!--{{ form.as_p}}-->
            {{ form|crispy }}
            <input type="submit" value="save"/>
        </form>

<script>
   //console.log(window.location)
var loc = window.location
console.log(loc)
var form = $('#formData')
var wsStart = 'ws://'
if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
console.log('host = ' + loc.host)
console.log('pathname = ' + loc.pathname)

 var socket = new WebSocket(endpoint)

//    socket.onmessage = function(e){
//     console.log('message',e)
//      console.log('in msg yeeamdosnfi' )
//        var data = JSON.parse(e.data)
//        var bridgeTableId = data.bridgeTableID
//	    var new_status = data.new_bridgeStatus
//
//	    var bstat = $('#bstat')
//	    bstat.html = bridgeTableId
//    }

    socket.onopen = function(e){
        console.log('open',e)
         var bridgeTableID
         var bridgeStatus
        var pcaStatus
         var gpuStatus
            var from
             var elevatorID
              var elevatorStatus
              var domIntBaggageID
               var domIntBaggageStatus
               var tbBagID
               var tbBagStatus
               var domIntOversizeID
               var domIntOversizeStatus
               var tbOversizeID
               var tbOversizeStatus

          form.submit(function(event){
                    console.log('form saved')
                    // event.preventDefault();
                    var final_data
                    <!--var result = document.myform.PCA_Status_Choice.value-->
                    <!--alert(result)-->
                     <!--var bridgeStatus = '{{obj.Bridge_Status_Choice}}'-->
                            <!--var pcaStatus = '{{obj.PCA_Status_Choice}}'-->
                            <!--var gpuStatus = '{{obj.GPU_Status_Choice}}'-->

                    // if updating bridge table

                    if( '{{path}}' === 'fromBridgeTable' ){
                            bridgeTableID = {{obj.bridgeTableID}}
                            bridgeStatus = document.myform.Bridge_Status_Choice.value
                            pcaStatus = document.myform.PCA_Status_Choice.value
                             gpuStatus = document.myform.GPU_Status_Choice.value
                            from = 'bridge'
                             final_data = {
                                'bridgeTableID': bridgeTableID,
                                'bridgeStat':bridgeStatus,
                                'pcaStat': pcaStatus,
                                'gpuStat': gpuStatus,
                                'from': from,
                            }

                    }
                    else if  ('{{path}}' === 'fromElevator' ) {
                            elevatorID = '{{obj.elevatorID}}'
                            elevatorStatus = document.myform.Elevator_Status_Choice.value
                            from = 'elev'
                              final_data = {
                                'elevatorID': elevatorID,
                                'elevatorStat':elevatorStatus,
                                'from':from,

                            }


                     }
                    else if ('{{path}}' == 'fromDomIntBaggage'){
                             domIntBaggageID =  {{obj.domIntBaggageID}}
                             domIntBaggageStatus = document.myform.DomIntBaggage_Status_Choice.value
                             from = 'domIntBag'
                            final_data = {
                                'domIntBaggageID': domIntBaggageID,
                                'domIntBaggageStat':domIntBaggageStatus,
                                'from': from,
                            }

                    }
                    else if ('{{path}}' == 'fromTbBaggage'){
                            tbBagID = {{obj.tbBaggageID}}
                            tbBagStatus =  document.myform.TbBaggage_Status_Choice.value
                            from = 'tbBag'

                            final_data = {
                                'tbBagID': tbBagID,
                                'tbBagStat':tbBagStatus,
                                'from': from,
                            }

                     }
                    else if ('{{path}}' == 'fromDomIntOversize'){
                            domIntOversizeID = {{obj.domIntOversizeID}}
                            domIntOversizeStatus =  document.myform.DomIntOversize_Status_Choice.value
                            from = 'domIntOversize'

                            final_data = {
                                'domIntOversizeID': domIntOversizeID,
                                'domIntOversizeStat':domIntOversizeStatus,
                                'from': from,
                            }

                     }
                    else if ('{{path}}' == 'fromTbOversize'){
                            tbOversizeID = {{obj.tbOversizeID}}
                            tbOversizeStatus =  document.myform.TbOversize_Status_Choice.value
                            from = 'tbOversize'

                            final_data = {
                                'tbOversizeID': tbOversizeID,
                                'tbOversizeStat':tbOversizeStatus,
                                'from': from,
                            }

                     }




                     socket.send(JSON.stringify(final_data));
        });
    }
    socket.onerror = function(e){
        console.log('errorrrrrrrr',e)
    }
    socket.onclose = function(e){
        console.log('socket closing from form.html',e)
    }

</script>
{% endblock content%}

