{% extends "status_board/base.html" %}
{% load static %}

<!--for testing purposes, mainContent should be changed to cssLink and h1 tags removed-->
{% block cssLink %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
           <!--<script src="{% static 'status_board/formsSocket.js' %}"></script>-->
{% endblock cssLink%}

{% block content %}

    <form id="formData"  method="POST" name="myform">
           {% csrf_token %}
    <h1 id="ting"></h1>
        {% if path == 'fromElevator'%}
            <h1>{{obj.elevatorID}}</h1>
        {% elif path == 'fromBridgeTable'%}
            <h1>{{obj.bridgeTableID}}</h1>
        {% elif path == 'fromEscalator'%}
             <h1>{{obj.escalatorID}}</h1>
        {% elif path == 'fromDomIntBaggage'%}
             <h1>{{obj.domIntBaggageID}}</h1>     
        {% endif %}

            {{ form.as_p}}
            <input type="submit" value="save"/>
        </form>

<script>
   //console.log(window.location)
var loc = window.location
var form = $('#formData')
var wsStart = 'ws://'
if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
console.log(loc.host)
console.log(loc.pathname)

 var socket = new WebSocket(endpoint)

//    socket.onmessage = function(e){
//     console.log('message',e)
//      console.log('in msg yeeamdosnfi' )
//        var data = JSON.parse(e.data)
//        var bridgeTableId = data.bridgeTableID
//	    var new_status = data.new_bridgeStatus
//
//	    var bstat = $('#bstat')
//	    bstat.html = bridgeTableId
//    }

    socket.onopen = function(e){
        console.log('open',e)
          form.submit(function(event){
            // event.preventDefault();

            <!--var result = document.myform.PCA_Status_Choice.value-->
            <!--alert(result)-->
             <!--var bridgeStatus = '{{obj.Bridge_Status_Choice}}'-->
                    <!--var pcaStatus = '{{obj.PCA_Status_Choice}}'-->
                    <!--var gpuStatus = '{{obj.GPU_Status_Choice}}'-->

            // if updating bridge table
            if ( '{{path}}' == 'fromBridgeTable' ){
                    var bridgeTableID = {{obj.bridgeTableID}}
                    var bridgeStatus = document.myform.Bridge_Status_Choice.value
                    var pcaStatus = document.myform.PCA_Status_Choice.value
                    var gpuStatus = document.myform.GPU_Status_Choice.value
                    var final_data = {
                        'bridgeTableID': bridgeTableID,
                        'bridgeStat':bridgeStatus,
                        'pcaStat': pcaStatus,
                        'gpuStat': gpuStatus,
                    }
                    socket.send(JSON.stringify(final_data));
                    }
             else if ('{{path}}' == 'fromDomIntBaggage'){
                    var domIntTableID =  {{obj.domIntBaggageID}}
                    var domIntBaggageStatus = document.myform.DomIntBaggage_Status_Choice.value
                    var final_data = {
                        'domIntTableID': domIntTableID,
                        'domIntBaggageStat':domIntBaggageStatus,
                    }
                    socket.send(JSON.stringify(final_data));

                    }
             else if (sysName == 'fromElevator'){
             }
        });
    }
    socket.onerror = function(e){
        console.log('errorrrrrrrr',e)
    }
    socket.onclose = function(e){
        console.log('socket closing from form.html',e)
    }

</script>
{% endblock content%}

