{% extends "status_board/base.html" %}
{% load static %}
 <!--for testing purposes, mainContent should be changed to cssLink and h1 tags removed-->
{% block mainContent %}
  <!--<script src="{% static 'status_board/loggedOut.js' %}"></script>-->
<script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
    {% if user.is_authenticated and perms.catalog.has_write_access %}
        <!-- <span>Auth and has permission</span> -->
        <link rel="stylesheet" type="text/css" href="{% static 'status_board/authenticated.css' %}">
    {% elif user.is_authenticated %}
        <span> No permission</span>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'status_board/authenticated.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'status_board/notAuthenticated.css' %}">
    {% elif not user.is_authenicated %}
        <!--<span>Not Auth</span>-->
           <!--<script src="{% static 'status_board/loggedOut.js' %}"></script>-->
        <link rel="stylesheet" type="text/css" href="{% static 'status_board/notAuthenticated.css' %}">
    {% endif %}

{% endblock mainContent%}

{% block content %}
<section role="main" style="height: 95%">
  <div class="row no-gutters" id="main" style="height: 100%">
      <div class="col-sm-6"  style="height: inherit;background-color:#282828">
          <div class="bridgeFlexContainer border border-left-0"> <div style="display: inline-block;width:50%;">
             
                  <div style="display: inline-block;">#</div>
                    <div style="display: inline-block;width:25%;text-align: center;">Bridge</div>
                    <div style="display: inline-block;width:25%;text-align: center;">PCA</div>
                      <div style="display: inline-block;width:25%;text-align: center;">GPU</div>
               
               </div>
               <div style="display: inline-block;width:50%;">
             
                  <div style="display: inline-block;">#</div>
                    <div style="display: inline-block;width:25%;text-align: center;">Bridge</div>
                    <div style="display: inline-block;width:25%;text-align: center;">PCA</div>
                      <div style="display: inline-block;width:25%;text-align: center;">GPU</div>
               
               </div>
              {% for bridge in bridges %}
                {% if bridge.bridgeTableID in rows %}
                  <div id="bridgeFlexItem" style="background-color:#454d55">
                  {%else%}
                  <div id="bridgeFlexItem" >
                {%endif%}
                {%if bridge.bridgeTableID <= 9  %}
                <span style="display: inline-block;">
                        <span> {{bridge.bridgeTableID}}<span style="visibility: hidden;">0</span></span>                 
                  </span>
                {% else%}
                  <span style="display: inline-block;">                   
                        <span> {{bridge.bridgeTableID}} </span>              
                  </span>
                 {%endif%}
                  {% if bridge.Bridge_Status_Choice == 'GREEN' %}
                  <span style="display: inline-block;width:25%;text-align: center;">
                      <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('bridge','{{bridge.bridgeTableID}}')" class="disabled">
                        <i id="bridge {{bridge.bridgeTableID}}" class="myClass fas fa-check-circle fa-lg"  style="color:lime;"></i>
                        </a>
                    </span>
                      {% elif bridge.Bridge_Status_Choice == 'RED' %}
                      <span style="display: inline-block;width:25%;text-align: center;">
                        <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('bridge','{{bridge.bridgeTableID}}')" class="disabled"  > 
                        <i class="fas fa-times-circle fa-lg" id="bridge {{bridge.bridgeTableID}}" style="color:red"></i>
                          </a>
                      </span>
                      {% else %}
                      <span style="display: inline-block;width:25%;text-align: center;">
                            <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('bridge','{{bridge.bridgeTableID}}')" class="disabled"  > 
                              <i class="fas fa-minus-circle fa-lg" id="bridge {{bridge.bridgeTableID}}" style="color:yellow" ></i>
                            </a>
                          </span>
                  {% endif %}
                  {% if bridge.PCA_Status_Choice == 'GREEN' %}
                  <span style="display: inline-block;width:25%;text-align: center;">
                      <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('PCA','{{bridge.bridgeTableID}}')" class="disabled"  > 
                        <i class="fas fa-check-circle fa-lg" id="PCA {{bridge.bridgeTableID}}" style="color:lime;"></i>
                      </a>
                    </span>
                        {% elif bridge.PCA_Status_Choice == 'RED' %}
                        <span style="display: inline-block;width:25%;text-align: center;">
                          <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('PCA','{{bridge.bridgeTableID}}')" class="disabled"  > 
                          <i class="fas fa-times-circle fa-lg" id="PCA {{bridge.bridgeTableID}}" style="color:red"></i>
                          </a>
                        </span>
                        {% else %}
                        <span style="display: inline-block;width:25%;text-align: center;">
                              <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('PCA','{{bridge.bridgeTableID}}')" class="disabled"  > 
                              <i class="fas fa-minus-circle fa-lg" id="PCA {{bridge.bridgeTableID}}" style="color:gold"></i>
                              </a>
                            </span>
                  {% endif %}
                      {% if bridge.GPU_Status_Choice == 'GREEN' %}
                      <span style="display: inline-block;width:25%;text-align: center;">
                              <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('GPU','{{bridge.bridgeTableID}}')" class="disabled"  > 
                              <i class="fas fa-check-circle fa-lg " id="GPU {{bridge.bridgeTableID}}" style="color:lime;"></i>
                              </a>
                            </span>
                          {% elif bridge.GPU_Status_Choice == 'RED' %}
                          <span style="display: inline-block;width:25%;text-align: center;">
                            <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('GPU','{{bridge.bridgeTableID}}')" class="disabled"  > 
                            <i class="fas fa-times-circle fa-lg" id="GPU {{bridge.bridgeTableID}}" style="color:red"></i>
                              </a>
                          </span>
                          {% else %}
                          <span style="display: inline-block;width:25%;text-align: center;">
                                <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('GPU','{{bridge.bridgeTableID}}')" class="disabled"  > 
                                <i class="fas fa-minus-circle fa-lg" id="GPU {{bridge.bridgeTableID}}" style="color:gold"></i> 
                                </a>
                              </span>
                          {% endif %}
                          
              </div>
              {% endfor %}
          </div>
    </div>
    </div>

    <!--2nd Column; Elevators & Baggage Carousel -->
    <div class="col-sm-3 text-white" style="height: inherit" >
        <div class="height" style="background-color:#282828;" >
            <div class="border" id="elevators" style="height: 100%">
            <p style="text-align:center">Elevators</p>
                   <div class="flexContainer" style="height: 80%" >
              {% for elev in elevators %}
                <div class="flexItem">
                    {%if elev.elevatorID == '2' or elev.elevatorID == '3' or elev.elevatorID == '4' or elev.elevatorID == '7'  or elev.elevatorID == '8' or elev.elevatorID == '9'  %} 
                    <spans><span style="visibility: hidden;">0</span>{{elev.elevatorID}} </span>
                    {%else%}
                    <spans>{{elev.elevatorID}} </span>
                    {%endif%}
    
                      {% if elev.Elevator_Status_Choice == 'GREEN' %}
                      <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Elevator','{{elev.elevatorID}}')" class="disabled"  > 
                        <i class="fas fa-check-circle fa-lg " id="Elev {{elev.elevatorID}}" title="Status changed on: {{elev.updated}}" style="color:lime;"></i>
                        </a>
                      {% elif elev.Elevator_Status_Choice == 'RED' %}
                      <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Elevator','{{elev.elevatorID}}')" class="disabled"  > 
                        <i class="fas fa-times-circle fa-lg" id="Elev {{elev.elevatorID}}" title="Status changed on: {{elev.updated}}" style="color:red"></i>
                        </a>
                      {% endif %}
                </div>
            {% endfor %}
            </div>
            </div>
            </div> <!--End of Elevators div tag-->
          <!--hidden when user is not authenticated-->
            <!--Baggage Carousel-->
            <div  class="notAuth" style="height:50%">
              <div class="bg-dark border" id ="Carousel" style="height:100%">
                     <p style="text-align:center">Baggage Carousel</p>
                     <div class="flexContainer" style="height: 80%" >
                      {% for bCar in bagCarousel %}
                      <div class="flexItem" >       
                      <spans>{{bCar.bagCarouselID}} </span>
                      
                      {% if bCar.bagCarousel_Status_Choice == 'GREEN' %}
                      <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Carousel','{{bCar.bagCarouselID}}')" class="disabled"  > 
                        <i class="fas fa-check-circle fa-lg " id="bCar {{bCar.bagCarouselID}}" title="Status changed on: {{bCar.updated}}" style="color:lime;"></i>
                        </a>
                      {% elif bCar.bagCarousel_Status_Choice == 'RED' %}
                      <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Carousel','{{bCar.bagCarouselID}}')" class="disabled"  > 
                        <i class="fas fa-times-circle fa-lg" id="bCar {{bCar.bagCarouselID}}" title="Status changed on: {{bCar.updated}}" style="color:red"></i>
                        </a>
                      {% else %}
                            <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Carousel','{{bCar.bagCarouselID}}')" class="disabled"  > 
                              <i class="fas fa-minus-circle fa-lg" id="bCar {{bCar.bagCarouselID}}" style="color:yellow" ></i>
                            </a>
                          
                      {% endif %}
                </div>
            {% endfor %}
                     </div>
              </div>
            </div> 
  </div> <!--Ending div tag for 2nd column-->

    <!--3rd Column Escalators and Baggage-->
    <div class="col-sm-3 text-white" style="height: inherit;">
      <div class="height" style="background-color:#343a40;" >
        <div class="border" id="escalator" style="height: 100%">
            <p style="text-align:center">Escalators</p>
          <div class="flexContainer" style="height: 80%">
              {% for esc in escalators %}
            <div class="flexItem">
              {%if esc.escalatorID != '10' or esc.escalatorID != '11' or esc.escalatorID != '11' %}
                        <span><span style="visibility: hidden;">0</span>{{esc.escalatorID}}</span>
                {%else%}
                <span>{{esc.escalatorID}}</span>
                {%endif%}

                      {% if esc.Escalator_Status_Choice == 'GREEN' %}
                            <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Escalator','{{esc.escalatorID}}')" class="disabled"  > 
                              <i class="fas fa-check-circle fa-lg " id="Esc {{esc.escalatorID}}" title="Status changed on: {{esc.updated}}" style="color:lime;"></i>
                              </a>
                      {% elif esc.Escalator_Status_Choice == 'RED' %}
                            <a data-toggle="modal" data-target="#modal" href="{% url 'updateSys' %}" onclick="setGetParameter('Escalator','{{esc.escalatorID}}')" class="disabled"  > 
                              <i class="fas fa-times-circle fa-lg" id="Esc {{esc.escalatorID}}" title="Status changed on: {{esc.updated}}" style="color:red"></i>
                              </a>      
                      {% endif %}
                </div>
            {% endfor %}
            </div>
           </div>
           </div> <!-- Ending div tag for Escalators-->
    
        <!--hidden when user is not authenticated-->
            <!--DOM / INT Baggage System-->
          <div class="notAuth" style="height:50%">
              <div class="bg-dark border" id ="baggagge" style="height:100%">
                 <p style="text-align:center">Baggage</p>
                 <div class="col sysContainer"  >
                    <div  style="flex:0 0 100%; text-align:center ">
                 {% for domIntBag in domIntBaggage %}
                        
                        {% if domIntBag.DomIntBaggage_Status_Choice == 'GREEN' %}
                        <p class="domBag {{domIntBag.domIntBaggageID}}" style="color:#2ECC71; text-align:center"> <a href="{% url 'domIntBaggageForm' btID=domIntBag.domIntBaggageID%}" class="disabled" style="color:inherit"> <span>DOM/INT BAGGAGE SYSTEM</span>  </a> </p>
                         {% elif domIntBag.DomIntBaggage_Status_Choice == 'YELLOW' %}
                          <p class="domBag {{domIntBag.domIntBaggageID}}" style="color:#F1C40F; text-align:center"> <a href="{% url 'domIntBaggageForm' btID=domIntBag.domIntBaggageID%}" class="disabled" style="color:inherit"> <span>DOM/INT BAGGAGE SYSTEM</span>  </a>  </p>
                        {% elif  domIntBag.DomIntBaggage_Status_Choice == 'RED' %}
                          <p class="domBag {{domIntBag.domIntBaggageID}}" style="color:#E74C3C; text-align:center"> <a href="{% url 'domIntBaggageForm' btID=domIntBag.domIntBaggageID%}" class="disabled" style="color:inherit"> <span>DOM/INT BAGGAGE SYSTEM</span>  </a>  </p>
                        {% endif %}
                 {% endfor %}

                 <!-- TB Baggage -->
                 {% for tbBag in tbBaggage %}
                 <div class="p-2" >
                     {% if tbBag.TbBaggage_Status_Choice == 'GREEN' %}
                     <p class="tbBag {{tbBag.tbBaggageID}}" style="color:#2ECC71; text-align:center"> <a href="{% url 'tbBaggageSystemsForm' btID=tbBag.tbBaggageID%}" class="disabled" style="color:inherit"> <span>TB BAGGAGE SYSTEM</span></a> </p>
                      {% elif tbBag.TbBaggage_Status_Choice == 'YELLOW' %}
                       <p class="tbBag {{tbBag.tbBaggageID}}" style="color:#F1C40F; text-align:center"> <a href="{% url 'tbBaggageSystemsForm' btID=tbBag.tbBaggageID%}" class="disabled" style="color:inherit"> <span>TB BAGGAGE SYSTEM</span></a> </p>
                     {% elif  tbBag.TbBaggage_Status_Choice == 'RED' %}
                       <p class="tbBag {{tbBag.tbBaggageID}}" style="color:#E74C3C; text-align:center"> <a href="{% url 'tbBaggageSystemsForm' btID=tbBag.tbBaggageID%}" class="disabled" style="color:inherit"> <span>TB BAGGAGE SYSTEM</span></a> </p>
                     {% endif %}
                 </div>

              {% endfor %}

            <!-- DOM/INT  -->
            {% for domOversize in domIntOversize %}
            <div class="p-2" >
                {% if domOversize.DomIntOversize_Status_Choice == 'GREEN' %}
                <p class="domBagOver {{domOversize.domIntOversizeID}}" style="color:#2ECC71; text-align:center"><a href="{% url 'domIntOversizeForm' btID=domOversize.domIntOversizeID%}" class="disabled" style="color:inherit"> <span> DOM / INT OVERSIZE</span></a> </p>
                 {% elif domOversize.DomIntOversize_Status_Choice == 'YELLOW' %}
                  <p class="domBagOver {{domOversize.domIntOversizeID}}" style="color:#F1C40F; text-align:center"> <a href="{% url 'domIntOversizeForm' btID=domOversize.domIntOversizeID%}" class="disabled" style="color:inherit"> <span> DOM / INT OVERSIZE</span></a> </p>
                {% elif  domOversize.DomIntOversize_Status_Choice == 'RED' %}
                  <p class="domBagOver {{domOversize.domIntOversizeID}}" style="color:#E74C3C; text-align:center"><a href="{% url 'domIntOversizeForm' btID=domOversize.domIntOversizeID%}" class="disabled" style="color:inherit"> <span> DOM / INT OVERSIZE</span></a> </p>
                {% endif %}
            </div>

         {% endfor %}

         <!-- TB OVERSIZE -->
         {% for tbOver in tbOversize %}
                    <div class="p-2" >
                        {% if tbOver.TbOversize_Status_Choice == 'GREEN' %}
                             <p class="tbOver {{tbOver.tbOversizeID}}" style="color:#2ECC71; text-align:center"> <a href="{% url 'tbOversizeForm' btID=tbOver.tbOversizeID%}" style="color:inherit" class="disabled"> <span>TB OVERSIZE</span> </a>  </p>
                         {% elif tbOver.TbOversize_Status_Choice == 'YELLOW' %}
                          <p class="tbOver {{tbOver.tbOversizeID}}" style="color:#F1C40F; text-align:center"> <a href="{% url 'tbOversizeForm' btID=tbOver.tbOversizeID%}" style="color:inherit" class="disabled"> <span>TB OVERSIZE</span> </a> </p>
                        {% elif  tbOver.TbOversize_Status_Choice == 'RED' %}
                          <p class="tbOver {{tbOver.tbOversizeID}}" style="color:#E74C3C; text-align:center"> <a href="{% url 'tbOversizeForm' btID=tbOver.tbOversizeID%}" style="color:inherit" class="disabled"> <span>TB OVERSIZE</span> </a> </p>
                        {% endif %}
                    </div>
  
                 {% endfor %}
                </div>
            </div>
  
          </div>
          </div> <!--Ending div tag for Baggage-->
        

    </div> <!--Ending div tag for 3rd Column-->

</div> <!--Ending div tag for Row-->
</section>

<!-- modal container -->
<div class="modal" id="modal"></div>

<!-- script for setting the system name and id of systen to be updated -->
<script>
    var sys
    var id 
    function setGetParameter(system, ID){
      sys = system;
      id = ID;

    }
</script>

 <!-- script for sending ID of a system to the view through AJAX before showing BS modal -->
 <script>
    $('#modal').on('show.bs.modal', function (event) {
      console.log('im in modal before show');
      console.log('id is ' + id + ' system ' + sys)
        var modal = $(this)
        $.ajax({
            type : "POST",
            url: "{% url 'updateSys' %}",
            data: { system: sys, ID: id, csrfmiddlewaretoken:"{{csrf_token}}"},
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })
    </script>
    
<!--Websocket scripts; onMessage, onOpen, onClose, onError  -->
<script>

var loc = window.location
var wsStart = 'ws://'
if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
console.log(loc.host)
console.log(loc.pathname)

 var socket = new WebSocket(endpoint)
   socket.onmessage = function(e){
     console.log('messageeeeeeeeee',e)
        var data = JSON.parse(e.data)
        // Updating bridges UI symbols
        if (data.fromCon == 'bridgeTable'){
                var bridgeTableId = data.bridgeTableID
                var bridgeStat = data.bridgeStat
                var bridge = 'bridge ' + bridgeTableId
                var bridgeIMG = document.getElementById(bridge)
                    if (bridgeStat == 'GREEN'){
                        $(bridgeIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-check-circle');
                         bridgeIMG.style.color = "lime"
                    }
                     else if (bridgeStat == 'YELLOW'){
                      $(bridgeIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-minus-circle');
                      bridgeIMG.style.color = "gold"
                     }
                     else if (bridgeStat == 'RED'){
                        $(bridgeIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-times-circle');
                          bridgeIMG.style.color = "red"
                     }           
        }
        // Updating pca UI symbols 
        else if (data.fromCon == 'pcaTable'){
          var bridgeTableId = data.bridgeTableID
          var pcaStat = data.pcaStat
          var pca = 'PCA ' + bridgeTableId
          var pcaIMG = document.getElementById(pca)

          if (pcaStat == 'GREEN'){
              $(pcaIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-check-circle');
                pcaIMG.style.color = "lime"
              }
          else if (pcaStat == 'YELLOW'){
            $(pcaIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-minus-circle');
             pcaIMG.style.color = "gold"
            }
          else if (pcaStat == 'RED'){
             $(pcaIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-times-circle');
              pcaIMG.style.color = "red"
            }
        }
        // Updating gpu UI symbols
        else if (data.fromCon == 'gpuTable'){
          var bridgeTableId = data.bridgeTableID
          var gpuStat = data.gpuStat
          var gpu = 'GPU ' + bridgeTableId
          var gpuIMG = document.getElementById(gpu)
          
          if (gpuStat == 'GREEN'){
            $(gpuIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-check-circle');
             gpuIMG.style.color = "lime"
          }
          else if (gpuStat == 'YELLOW'){
            $(gpuIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-minus-circle');
            gpuIMG.style.color = "gold"
            }
          else if (gpuStat == 'RED'){
             $(gpuIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-times-circle');
             gpuIMG.style.color = "red"
            }
        }
           // Updating messages in UI
        else if (data.fromCon == 'msg'){
          msgID = data.msgID
          msg = data.msg
          changeMsg = document.getElementById('adHocMsg').innerHTML = msg
        }
           // Updating elevator UI symbols
        else if (data.fromCon == 'elevator'){
             var elevatorID = data.elevatorID
             var elevatorStat = data.elevatorStat
             var elev = 'Elev ' + elevatorID
             var elevIMG = document.getElementById(elev)

                  if (elevatorStat == 'GREEN'){
                    $(elevIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-check-circle');
                    elevIMG.style.color = "lime"
                  }                     
                  else if (elevatorStat == 'RED'){
                      $(elevIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-times-circle');
                      elevIMG.style.color = "red"
                     }            
        }
           // Updating Carousel UI symbols
        else if (data.fromCon == 'Carousel'){
          var bCarID = data.carouselID
          var bCarStat = data.carouselStat
          var bCar = 'bCar ' + bCarID
          var bCarIMG = document.getElementById(bCar)

          if (bCarStat == 'GREEN'){
            $(bCarIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-check-circle');
            bCarIMG.style.color = "lime"
          }
          else if (bCarStat == 'YELLOW'){
            $(bCarIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-minus-circle');
            bCarIMG.style.color = "gold"
            }
          else if (bCarStat == 'RED'){
             $(bCarIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-times-circle');
             bCarIMG.style.color = "red"
            }
        }
           // Updating Escalator UI symbols
        else if (data.fromCon == 'escalator'){
          console.log('IN EsC')
             var escalatorID = data.escalatorID
                var escalatorStat = data.escalatorStat

                var esc = 'Esc ' + escalatorID
                console.log('IN EsC' + esc)
                 var escIMG = document.getElementById(esc)
                  if (escalatorStat == 'GREEN')
                  {
                    $(escIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-check-circle');
                    escIMG.style.color = "lime"
                  }  
                     else if (escalatorStat == 'RED')
                        {$(escIMG).find('[data-fa-i2svg]').toggleClass('').toggleClass('fa-times-circle');
                        escIMG.style.color = "red"
                     }            
        }
           // Updating domIntBag UI symbols
        else if (data.fromCon == 'domIntBag'){
            var domIntBagID = data.domIntBagId
            var domIntBagStat = data.domIntBagStat

            var domIntBag = 'domBag ' + domIntBagID

            var domIntBagTXT = document.getElementsByClassName(domIntBag)[0]

                 if (domIntBagStat == 'GREEN')
                        domIntBagTXT.style.color = green
                   else if (domIntBagStat == 'YELLOW')
                        domIntBagTXT.style.color = yellow
                     else if (domIntBagStat == 'RED')
                        domIntBagTXT.style.color = red
        }
           // Updating tbBag UI symbols
        else if (data.fromCon == 'tbBag'){
            var tbBagID = data.tbBagID
            var tbBagStat = data.tbBagStat

            var tbBag = 'tbBag ' + tbBagID

            var tbBagTXT = document.getElementsByClassName(tbBag)[0]

                 if (tbBagStat == 'GREEN')
                        tbBagTXT.style.color = green
                   else if (tbBagStat == 'YELLOW')
                        tbBagTXT.style.color = yellow
                     else if (tbBagStat == 'RED')
                        tbBagTXT.style.color = red
        }
           // Updating domIntOversize UI symbols
        else if (data.fromCon == 'domIntOversize'){
            var domIntOversizeID = data.domIntOversizeID
            var domIntOversizeStat = data.domIntOversizeStat

            var domIntOversize = 'domBagOver ' + domIntOversizeID

            var domIntOverTXT = document.getElementsByClassName(domIntOversize)[0]

                 if (domIntOversizeStat == 'GREEN')
                        domIntOverTXT.style.color = green
                   else if (domIntOversizeStat == 'YELLOW')
                        domIntOverTXT.style.color = yellow
                     else if (domIntOversizeStat == 'RED')
                        domIntOverTXT.style.color = red
        }
           // Updating tbOversize UI symbols
        else if (data.fromCon == 'tbOversize'){
            var tbOversizeID = data.tbOversizeID
            var tbOversizeStatus = data.tbOversizeStatus

            var tbOversize = 'tbOver ' + tbOversizeID

            var tbBagOverTXT = document.getElementsByClassName(tbOversize)[0]

                 if (tbOversizeStatus == 'GREEN')
                        tbBagOverTXT.style.color = green
                   else if (tbOversizeStatus == 'YELLOW')
                        tbBagOverTXT.style.color = yellow
                     else if (tbOversizeStatus == 'RED')
                        tbBagOverTXT.style.color = red
        }  
    }

    socket.onopen = function(e){
        console.log('opennnnnnnnnnnnn',e)
        }

socket.onerror = function(e){
console.log('error',e)
}
socket.onclose = function(e){
console.log('closedddddddddddddddddd',e)
}

</script>

{% endblock content %}
