{% load crispy_forms_tags %}
<!-- Modal form to update status of a system -->
<div class="modal-dialog modal-sm" role="document">
    <form action="{% url 'update' id=id sys=system oldStat=status %}"  method="POST" id="form" name="myform" class="form">{% csrf_token %}
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightgrey;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                {{system}} {{id}}
                {{ form|crispy }}
               {%if status == 'GREEN' %}
               <p>UpTime is (HH:MM:SS) {{downTime}}</p>
               {%elif status == 'RED'%}
                <p>DownTime is (HH:MM:SS) {{downTime}}</p>
                {%elif status == 'YELLOW'%}
                <p>In maintenance for (HH:MM:SS) {{downTime}}</p>
                {%endif%}
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save changes" />
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->

<!-- Websocket script: gets form data onsubmit and sends it to consumers (websocket) -->
<script>
var loc = window.location
console.log(loc)
var form = $('#form')
var wsStart = 'ws://'
if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
console.log('host = ' + loc.host)
console.log('pathname = ' + loc.pathname)
 var socket = new WebSocket(endpoint)

 var oldStatus = '{{status}}'
 socket.onopen = function(e){
        console.log('openEDDD',e)
        var from
             
           
              console.log('befor Send' + '')
        form.submit(function(event){
   
                    console.log('form saved')
                    var final_data
                    console.log(' system is {{system}}')
                    // switch case to determine system to be updated
                    switch('{{system}}'){
                        case 'Elevator':
                            elevatorID = '{{id}}'
                                elevatorStatus = document.myform.Elevator_Status_Choice.value
                                from = 'elev'
                                final_data = {
                                    'elevatorID': elevatorID,
                                    'elevatorStat':elevatorStatus,
                                    'from':from,
                                }
                                break;
                        case 'Escalator':
                                escalatorStatus = document.myform.Escalator_Status_Choice.value
                                from = 'esc'
                                final_data = {
                                    'escalatorID': '{{id}}',
                                    'escalatorStatus':escalatorStatus,
                                    'from':from,
                                }
                                break;
                        case 'Carousel':
                                carouselStatus = document.myform.bagCarousel_Status_Choice.value
                                from = 'Carousel'
                                final_data = {
                                    'carouselID': '{{id}}',
                                    'carouselStatus':carouselStatus,
                                    'from':from,
                                }
                                break;
                        case 'bridge':
                                bridgeStatus = document.myform.Bridge_Status_Choice.value
                                from = 'bridge'
                                final_data = {
                                    'bridgeTableID':'{{id}}',
                                    'bridgeStat':bridgeStatus,
                                    'from': from,
                                }
                                break;
                        case 'PCA':
                            pcaStatus = document.myform.PCA_Status_Choice.value
                            from = 'pca'
                                final_data = {
                                    'bridgeTableID':'{{id}}',
                                    'pcaStat': pcaStatus,
                                    'from': from,
                                }
                                break;
                        case  'GPU':
                                gpuStatus = document.myform.GPU_Status_Choice.value
                                from = 'gpu'
                                final_data = {
                                    'bridgeTableID':'{{id}}',
                                    'gpuStat': gpuStatus,
                                    'from': from,
                                }
                                break;
                        case 'mes':
                            msg = document.myform.message.value
                            final_data = {
                                'mesID':'{{id}}',
                                'msg':msg,
                                'from':'{{system}}'
                            }
                            console.log('sending mes')
                                break;
                        case 'Domestic and International Baggage':
                            domIntBagStat = document.myform.DomIntBaggage_Status_Choice.value
                            from = 'domIntBag'
                            final_data = {
                                'domIntBaggageID': '{{id}}',
                                'domIntBaggageStat': domIntBagStat,
                                'from':from,
                            }
                            console.log('stat is ' + domIntBagStat  )
                            break;
                        case 'Transborder Baggage System':
                            tbBagStat = document.myform.TbBaggage_Status_Choice.value
                            from = 'tbBag'
                            final_data = {
                                'tbBagID': '{{id}}',
                                'tbBagStat': tbBagStat,
                                'from':from,
                            }
                            break;
                        case 'Domestic and International Oversize':
                            console.log('HEEEEEEERE')
                            domIntOversizeStat = document.myform.DomIntOversize_Status_Choice.value
                            from = 'domIntOversize'
                            final_data = {
                                'domIntOversizeID': '{{id}}',
                                'domIntOversizeStat': domIntOversizeStat,
                                'from':from,
                            }
                            break;
                        case 'Transborder Oversize':
                            console.log('HEEEEEEERE')
                            tbOversizeStat = document.myform.TbOversize_Status_Choice.value
                            from = 'tbOversize'
                            final_data = {
                                'tbOversizeID': '{{id}}',
                                'tbOversizeStat': tbOversizeStat,
                                'from':from,
                            }
                            break;
                        }
                    
                            // sending data to backend
                            socket.send(JSON.stringify(final_data));
                            console.log('sent data')
            
        });
                            
 }
</script>

<script>
    var form_options = { target: '#modal', success: function(response) {} };
    $('#form').ajaxForm(form_options);
</script>


