.title{
  background-color: #2A3034;

  border-bottom: 2px solid  lightslategray ;
}
.bridgeFlexContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: inherit;
  color: white;
  background-color: #343a40;
}

#bridgeFlexItem{
  flex-grow: 0;
  align-self: flex-start;
  flex-basis: 50%;
}

.titleFlexItem{
  flex-basis: 50%;
}

.flex-container{
    display: flex;
    align-content: flex-start;
    }
    
    .flex-container > div{
      color: white;
      width: 100px;
      margin: 10px;
      text-align: center;
    }
    
    #navText > li {
        color:white;
    }
    
    .fixedMessage{
        background-color:#1C1515;
        color:white
    }
    
    #bridgeRow{
        padding:0;
    }
    #fixedFooter{
        overflow:hidden;
        
    }
   #adHocMsg {
     width:100%;
     font-weight: 600;
       transform: translateX(100%);
        -moz-animation: slide-right 35s linear infinite;
        -webkit-animation: slide-right 35s linear infinite;
        -o-animation: slide-right 35s linear infinite;
        position:absolute;
        white-space: nowrap;
        
        animation: slide-right 25s linear infinite;
        /* margin:0; */
      }
      @keyframes slide-right { 
        0% { transform: translateX(100%);}
        100% { transform: translateX(-100%);}
      }

   
     
