.bridgeFlexContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: inherit;
  color: white;
  background-color: #343a40;
}

#bridgeFlexItem{
  flex-grow: 0;
  align-self: flex-start;
  flex-basis: 50%;
}

.titleFlexItem{
  flex-basis: 50%;
}

.flex-container{
    display: flex;
    align-content: flex-start;
    }
    
    .flex-container > div{
      color: white;
      width: 100px;
      margin: 10px;
      text-align: center;
    }
    
    #navText > li {
        color:white;
    }
    
    .fixedMessage{
        background-color:black;
        color:white
    }
    
    #bridgeRow{
        padding:0;
    }
    #fixedFooter{
        overflow:hidden;
        animation: 10s slide-left;
         margin:0;
    }
    .slide-right p {
        -moz-animation: 10s slide-right;
        -webkit-animation: 10s slide-right;
        -o-animation: 10s slide-right;
        animation: 10s slide-right;
        margin:0;
      }
      div.slide-left p {
        -moz-animation: 10s slide-left;
        -webkit-animation: 10s slide-left;
        -o-animation: 10s slide-left;
        animation: 10s slide-left;
        margin:0;
      }
      @-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} }
      @-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} }
       @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} }
      @keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} }
      
      @-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
       to {margin-left: -100%;width: 300%;} }
      @-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
       to {margin-left: -100%;width: 300%;} }
      @-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
       to {margin-left: -100%;width: 300%;} }
      @keyframes slide-left { from {margin-left: 0%;width: 100%;}
       to {margin-left: -100%;width: 300%;} }
    @keyframes slide { from {margin-left: 0%;width: 100%;}
        to {margin-left: -100%;width: 300%;} }
    /* @media(min-width:575.98px) {
     /* .no-gutters{
     height:100%;
     } */
    
    } */
    
    }
    
    