.bridgeFlexContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: inherit;
  color: white;
  background-color: #343a40;
}

#bridgeFlexItem{
  flex-grow: 0;
  align-self: flex-start;
  flex-basis: 50%;
}

.titleFlexItem{
  flex-basis: 50%;
}

.flex-container{
    display: flex;
    align-content: flex-start;
    }
    
    .flex-container > div{
      color: white;
      width: 100px;
      margin: 10px;
      text-align: center;
    }
    
    #navText > li {
        color:white;
    }
    
    .fixedMessage{
        background-color:black;
        color:white
    }
    
    #bridgeRow{
        padding:0;
    }
    #fixedFooter{
        overflow:hidden;
        animation: 10s slide-left;
         margin:0;
    }
    .slide-right span {
        /* -moz-animation: 10s slide-right;
        -webkit-animation: 10s slide-right;
        -o-animation: 10s slide-right; */
        position:relative;
        white-space: nowrap;
        animation:  slide-right 15s infinite ease-in-out;
        /* margin:0; */
      }
      @keyframes slide-right { 
        from {right:-5%}
        to {right:200%}
      }

     
      /* @-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} }
      @-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} }
       @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
        to {margin-left: 0%;width: 100%;} } */
